# Python-Einführung
## Basics
Das ist eine Markdownzelle für Kommentare
. bmbmb
. nnln

In [4]:
print("Hallo Welt!")

Hallo Welt!

# Kommentare

In [5]:
# Das ist ein Kommentar
print("Hallo Welt!")

Hallo Welt!

## Einfache Datentypen

In [7]:
# Variablen und Werte-Zuweisung (Value-Assignment)
# String = Zeichenkette
name  = "Hawking"
print(name)

Hawking

In [17]:
# Integer - Ganzzahl
age = 72
print(age)

72

In [10]:
# Float = Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [11]:
# Boolean = Boolscher Wert
is_scientist = True
print(is_scientist)

True

In [12]:
type(name)

str

In [13]:
type(size)

float

In [14]:
print(name)
print(age)

Hawking
73

## Operatoren

In [15]:
5 + 5

10

In [18]:
age * 100

7200

In [19]:
name * 10

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [20]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [21]:
name + name

'HawkingHawking'

In [22]:
name + age

TypeError: can only concatenate str (not "int") to str

In [23]:
print(name) print(age)

SyntaxError: invalid syntax (<ipython-input-23-abf408b158a4>, line 1)

In [24]:
name + "10"

'Hawking10'

In [25]:
print(name:age)

SyntaxError: invalid syntax (<ipython-input-25-b60c8f8639fc>, line 1)

In [26]:
size/age

0.023781944444444442

In [30]:
number_of_articles = "40"

In [28]:
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [31]:
int(number_of_articles) / 10

4.0

In [37]:
zahl = 5
andere_zahl = 6

In [41]:
zahl + andere_zahl

26

In [42]:
# Befehl für Jupyter Notebook
%who

age	 andere_zahl	 is_scientist	 name	 number_of_articles	 size	 zahl

In [40]:
zahl = 20

In [44]:
zahl = "10"
print(int(zahl) + 33)
type(zahl)

43

str

In [45]:
Ganzzahl = int(zahl)

## Funktionen und Methoden

In [46]:
len(name)

7

In [47]:
name.upper()

'HAWKING'

In [48]:
name

'Hawking'

In [49]:
name = name.upper()
print(name)

HAWKING

In [50]:
name

'HAWKING'

In [51]:
name.replace("W", "Blaaaaa")

'HABlaaaaaKING'

In [52]:
first_name = "Anna"

In [57]:
first_name.count("A")

1

In [55]:
first_name + " " + name

'Anna HAWKING'

## Container 
### Listen und Dictionaries

In [58]:
names = ["Darwin", "Hawking", "Curie"]

In [59]:
names[1]

'Hawking'

In [60]:
names[0]

'Darwin'

In [63]:
len(names)

3

In [72]:
# Ende der Liste unbekannt
names[-1]

'Curie'

In [73]:
# erstes Element einschließlich, 2. Element ausschließlich
names[0:2]

['Darwin', 'Hawking']

In [67]:
names[:1]

['Darwin']

In [68]:
slice_value = 2

In [69]:
names[slice_value]

'Curie'

In [70]:
names[:slice_value]

['Darwin', 'Hawking']

In [71]:
names[slice_value:]

['Curie']

#### Dictionary

In [76]:
authors_and_ages = {"Darwin": 73, 
                    "Goethe": 83, 
                    "Lovelace": 37}

In [75]:
authors_and_ages["Darwin"]

73

In [77]:
authors_and_ages = {"Darwin": "dreiundsiebzig", 
                    "Goethe": "dreiundachtzig", 
                    "Lovelace": "siebenunddreißig"}

In [78]:
authors_and_ages["Goethe"]

'dreiundachtzig'

In [79]:
names.append("Austen")

In [80]:
print(names)

['Darwin', 'Hawking', 'Curie', 'Austen']

In [81]:
authors_and_ages["Rowling"] = 53

In [82]:
authors_and_ages

{'Darwin': 'dreiundsiebzig',
 'Goethe': 'dreiundachtzig',
 'Lovelace': 'siebenunddreißig',
 'Rowling': 53}

In [83]:
names

['Darwin', 'Hawking', 'Curie', 'Austen']

## for-Schleife

In [84]:
for name in names:
    print(name + " is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name
Austen is a great name

In [85]:
names.remove("Kleist")

ValueError: list.remove(x): x not in list

In [87]:
del(names[0])

In [88]:
names

['Hawking', 'Curie', 'Austen']

## Conditionals
### Bedingte Anweisungen

In [92]:
temp = 20
if temp > 15:
    print("It's warm.")

It's warm.

In [93]:
temp = 10
if temp > 15:
    print("It's warm.")
else: 
    print("It's cold.")

It's cold.

In [99]:
temp = 15
if temp >= 25:
    print("It's hot.")
elif temp > 15:
    print("It's warm.")
else: 
    print("It's cold.")

It's cold.